<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TDFDow30.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TDFDow30.Properties.Settings.dbConn" connectionString="Data Source=x2-sql-pri;Initial Catalog=X20Financial_TDF;Persist Security Info=True;User ID=sa;Password=Engineer@1" />
        <add name="TDFDow30.Properties.Settings.X20Financial_TDFConnectionString"
            connectionString="Data Source=x2-sql-pri;Initial Catalog=X20Financial_TDF;Persist Security Info=True;User ID=sa;Password=Engineer@1" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <TDFDow30.Properties.Settings>
            <setting name="TDF_IPAddress" serializeAs="String">
                <value>172.18.23.21</value>
            </setting>
            <setting name="TDF_Port" serializeAs="String">
                <value>11113</value>
            </setting>
            <setting name="TDF_UserName" serializeAs="String">
                <value>DFD01</value>
            </setting>
            <setting name="TDF_PW" serializeAs="String">
                <value>AAA</value>
            </setting>
            <setting name="Reset_Connection" serializeAs="String">
                <value>04:00:00</value>
            </setting>
        </TDFDow30.Properties.Settings>
    </applicationSettings>
</configuration>